body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

a:link, a:visited {
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: blue;

}

a.main-menu:link, a.main-menu:visited{
  background-color: #2a2a2b;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-color: black;
  width: 90%;
}

.flex-container-main-menu{
  display: flex;
  flex-direction: row;

}

.flex-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  font-family: 'Copperplate', fantasy;
}

.profile-picture{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.content {
  flex-direction: column;
}

.no-gap-after {
	margin-bottom: 0 !important;
}

.gap-after {
	margin-bottom: 20px !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row{
  display: flex;
}

.column{
  flex: 33.33%;
  padding: 5px;
}

/* -----Progress Bar------ */
