//sizes
$phone: 'only screen and (max-width : 480px)';
$tablet: 'only screen and (max-width : 768px)';
$laptop: 'only screen and (max-width : 1024px)';
$standard: 'only screen and (min-width: 768px) and (max-width: 3840px)';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  ul {
    list-style: initial;
    list-style-position: inside;
    padding: 0;
    text-align: left;
  }

  h2 {
    margin-top: 0;
    text-align: left;
    @media #{$phone}{
      text-align: center;
    }
  }

  h3{
    text-align: left;

    @media #{$phone}{
      text-align: center;
    }
  }

  h3.center{
    text-align: center;
  }

  p{
    width: 100%;
    text-align: center;
  }
  
  a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: blue;
  }
  
  // a.main-menu:link, a.main-menu:visited{
  //   background-color: #2a2a2b;
  //   color: white;
  //   padding: 15px 10px;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   border-color: black;
  //   width: 90%;
  // }

  ul.main-menu, ul.main-menu:link {
    color: #fff;
    list-style-type: none;
    overflow: hidden;
    background-color: #2a2a2b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  li.main-menu {
    float: left;
  }
  
  li.main-menu a.main-menu {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    width: 60%;
    z-index: 1;
  }

  a.main-menu:hover{
    background-color: #4b4b4d;
  }

  .email{
    margin-left: -10px;
    text-align: left;
    text-decoration: none;
    color: blue;
    display: inline;
  }

  .home-desc{
    list-style: none;
    text-align: center;
  }
  
  .flex-container-main-menu{
    display: flex;
    flex-direction: row;
  }
  
  .flex-container-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 15%;
  }

  .name-database-text{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  ul.left-align{
    text-align: left;
    @media #{$phone}{
      text-align: center;
      list-style-type: none;
    }
  }

  li.chat-alerts{
    margin-left: 2%;
  }

  li.no-bullet{
    list-style-type: none;
  }

  li.bold{
    font-weight: bold;
  }

  ul.center{
    text-align: center;
  }

  ul.no-bullet{
    list-style-type: none;
  }

  .home-flex-container-text{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .links {
    font-family: 'Copperplate', fantasy;
  }

  .profile-picture{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: 175px;
    border-radius: 60%;
    z-index: 1;
    @media #{$tablet} {
      margin-top: 15%;
    }
  }
  
  .content {
    flex-direction: column;
  }
  
  .no-gap-after {
      margin-bottom: 0 !important;
  }
  
  .gap-after {
      margin-bottom: 20px !important;
  }

  .space{
    margin-top: 4%;
    @media #{$tablet} {
      width: 100%;
      margin-top: 15%;
    }
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .row{
    display: flex;
  }
  
  .column{
    flex: 25%;
    padding: 0;
  }

  .ca-images{
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
    @media #{$phone}{
      margin-left: auto;
      margin-right: auto;
    }
    @media #{$standard}{
      margin-top: 4%;
    }
  }

  .nd-images{
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
    @media #{$phone}{
      margin-left: auto;
      margin-right: auto;
    }
  }

  .dd-images{
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
    @media #{$phone}{
      margin-left: auto;
      margin-right: auto;
    }
    @media #{$standard}{
      margin-top: 4%;
    }
  }

  .poly-image{
    max-height: 400px;
    max-width: 400px;
    width: auto;
    height: auto;
    @media #{$phone}{
      margin-left: auto;
      margin-right: auto;
    }
    @media #{$standard}{
      margin-top: 20%;
    }

  }

  .grid-container {
    display: grid;
    justify-content: center;

    @media #{$standard}{
      grid-template-columns: 50% 15%;
      row-gap: 1vw;
      column-gap: 1vw;
      padding: 0%;
      margin-bottom: 10px;
    }
    @media #{$phone}{
      grid-template-columns: 80%;
      row-gap: 1vw;
      column-gap: 1vw;
      padding: 0%;
      margin-bottom: 10px;
    }
  }

    .grid-item {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 10px;
    }


  .progress-bar-container{
    margin-top: 28px;
    width: 17%;
  }
  
  .bar-title-container{
    display: flex;
    margin-right: 41%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    gap: 15px;
  }

  .skills-text{
    text-align: center;
    list-style: none;
    width: 100%;
    @media #{$phone}{
      width: 100%;
      margin-top: 15%;
    }
    @media #{$standard}{
      margin-top: 0%;
    }
  }

  .skills-title{
    margin-top: 10%;
    margin-bottom: 0;
    text-align: center;
    @media #{$phone}{
      width: 100%;
      margin-top: 20%;
    }
  }

  .main-title{
    width: 60%;
    background-color: #4b4b4d;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @media #{$phone}{
      width: 90%;
    }
  }

  .background-animation{
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90%;
  }

  .background-container{
    background: linear-gradient(black, white);
    height: 100%;
    opacity: 0.3;
    width: 100%;
  }

  .header-container{
    background: linear-gradient(#4b4b4d, white);
    color: black;
    margin-top: 1%;
    @media #{$phone}{
      margin-top: 11%;   
    }
  }

  .header-content{
    height: 75px;
    text-align: center;
    margin-top: 1.5%;
    @media #{$phone}{
      margin-top: 10%;
    }
  }

  .footer-container{
    background: linear-gradient(white, #4b4b4d);
    margin: 0;
  }

  .footer-content{
    height: 55px;
    text-align: center;
    margin: 0;
    @media #{$phone}{
      margin-bottom: 0%;
    }
  }

